
	<h1>Manage Inventory <%= link_to "Add Item", new_product_path, class: 'btn btn-success'%></h1>
<br>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li><a tabindex="-1" href="#">Action</a></li>
  <li><a tabindex="-1" href="#">Another action</a></li>
  <li><a tabindex="-1" href="#">Something else here</a></li>
  <li class="divider"></li>
  <li><a tabindex="-1" href="#">Separated link</a></li>
</ul>
    <table class="table table-hover">
      	<tr>
    		<th>#</th>
    		<th>Name</th>
    		<th>Description</th>
    		<th>Price</th>
    		<th>Action</th>
    	</tr>
    		<% @products.each do |product| %>
    		<tr>
    			
    			<td> <%= @count += 1 %></td>
    			<td> <%= product.name %> </td>
    			<td> <%= product.description %> </td>
    			<td> $<%= product.price %> </td>
    			<td>
    				<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Actions
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/products/<%= product.id %>" rel="nofollow" data-method="delete" data-confirm="Are you sure?" >Delete</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/products/<%= product.id %>/edit">Edit</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/products/<%= product.id %>/copy">Copy</a></li>
  </ul>
</div>
    				
				</td>
    		</tr>
    		<%end%>
	</table>